
<%- include("../partials/header") %>


<div class="container">
   <div class="jumbotron">
      <h1 style="font-size: 3.5em; font-weight: bold;">Welcome to tripBlogs</h1>
      <p style=" font-style: italic; font-size: 1.3em;">View and add owesome blogs here for FREE</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/blogs/new">Add new blog</a>
      </p>
    </div>
</div>    


<div class="container" >
    <div class="row text-center"> 
  <% allBlogs.forEach(function(blog){  %>
    <div class="col-md-4 col-sm-6">
      <div class="card" style="width: 100%; height: 562px;">
         <img class="card-img-top" style="height: 260px;" src="<%= blog.image %>" alt="<%= blog.name %> 's image">
         <div class="card-body">
           <h5 class="card-title"><%= blog.name %></h5>
           <p class="dte"><i class="fa fa-calendar" aria-hidden="true"></i>  <%= blog.created.toDateString() %></p>
           <p><%- blog.description.substring(0,75) %>...</p>
           <a class="btn btn-primary" href="/blogs/<%= blog._id %>">More Info</a>
         </div>
       </div> <br> 
    </div>
<% }) %>
   </div>
</div>




<%- include("../partials/footer") %>