<%- include('../partials/header') %>

<div class="container">
    <div class="row">
       <div class="col-lg-12">
          <div class="form2">
            <h4><i id="logo3" class="fa fa-paper-plane"></i> Edit <%= blog.name %></h4>
                    <form action="/blogs/<%= blog._id %>/?_method=PUT" method="POST">
                        <p class="name1">Title</p>
                        <input type="text" name="blog[name]" value="<%= blog.name %>">
                        <p class="name1">Image URL</p>
                        <input type="text" name="blog[image]" value="<%= blog.image %>">
                        <p class="name1">Description</p>
                        <textarea name="blog[description]"><%= blog.description %></textarea><br>
                        <input class="btn btn-danger" type="submit" value="Update">
                    </form>
          </div>
       </div>
    </div>
</div>

<%- include('../partials/footer') %>